@* @model List<UserInRoleViewModel> *@
@{
    ViewData["Title"] = "AddOrRemoveUser";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

    var RoleId=ViewData["RoleId"] as string;
}

<form asp-action="AddOrRemoveUsers" asp-route-roleId="RoleId">
@* @for(int i = 0; i < Model.Count; i++)
{
    <din class="form-group">
        <input asp-for="@Model[i].IsSelected"/>
        <label asp-for="@Model[i].IsSelected"> @model[i].UserName</label>
    </din>

        <input type="hidden" asp-for="@Model[i].USerId"/>
        <input type="hidden" asp-for="@Model[i].UserName"/>

}
 *@
 <input type="submit" value="Update" class="btn btn-success"/>
    <a asp-action="Edit" asp-route-Id="RoleId" class="btn btn-light">Cancel</a>
</form>
